<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="logo nodeJS" style="width: 25%;">
    </header>
    {{{body}}}
</body>
</html>